{% if applications %}
	{% for line in applications %}
	<fieldset>
		<font size="2" face="Helvetica Neue">
		<form action="/approveSkillAuth" method="POST">
			<p>WORKER email: {{line.email}}</p>
			<p>SKILL : {{line.skillname}}</p>
			<input type="hidden" name='email' value="{{line.email}}" />
			<input type="hidden" name='skillname' value="{{line.skillname}}" />
			<button type="submit">Approve</form>
		</form>
	</fieldset>
	{% endfor %}
{% else %}
	<font size="4" face="Helvetica Neue">
	<h3>No Applications Found</h3>
{% endif %} 

<hr><hr><hr>

{% if messages %}
	{% for line in messages %}
	<fieldset>
		<font size="2" face="Helvetica Neue">
		<form action="/replyMessageAuth" method="POST">
			<p>Email: {{line.email}}</p>
			<p>Title : {{line.title}}</p>
			<p>Message : {{line.message}}</p>
			<input type="hidden" name='id' value="{{line.supportid}}" />
			<textarea rows="8" style="width:100%" name="reply" ></textarea>
			<button type="submit">Reply</button>
		</form>
	</fieldset>
	{% endfor %}
{% else %}
	<font size="4" face="Helvetica Neue">
	<h3>No Messages Found</h3>
{% endif %} 