

{% extends "layout.html" %}

 
{% block content %} 

<fieldset>
            <legend><h2>Your Job Requests</h2></legend>

            {% if postedJobs %}
            <table>
                <th>Job Name</th>
                <th>Job Type</th>
                <th>Job City</th>
                <th>Job State</th>
                <th>Job Description</th>
                <th>Time</th>
                <th>View</th>

                {% for line in postedJobs %}
                    <tr>
                        <td>{{line.jobname}}</td>
                        <td>{{line.jobtype}}</td>
                        <td>{{line.jobcity}}</td>
                        <td>{{line.jobstate}}</td>
                        <td>{{line.jobdescription}}</td>
                        <td>{{line.jobtime}}</td>
                        <td><a href="/job/{{line.jobid}}">view</a></td>
                    </tr>
                {% endfor %}
            </table>
             {% else %}
            <h3>Empty</h3>
            {% endif %}
        </fieldset>


        <fieldset>
            <legend><h2>Job To Be Performed</h2></legend>

            {% if confirmedJobs %}
            <table>
                <th>Job Name</th>
                <th>Job Type</th>
                <th>Job City</th>
                <th>Job State</th>
                <th>Job Description</th>
                <th>Time</th>
                <th>Amount</th>
                <th>Worker Name</th>
                <th>View</th>
                {% for line in confirmedJobs %}
                    <tr>
                        <td>{{line.jobname}}</td>
                        <td>{{line.jobtype}}</td>
                        <td>{{line.jobcity}}</td>
                        <td>{{line.jobstate}}</td>
                        <td>{{line.jobdescription}}</td>
                        <td>{{line.jobtime}}</td>
                        <td>{{line.amount}}</td>
                        <td><a href="/viewworker/{{line.acceptoremail}}">{{line.firstname}} {{line.lastname}}</a></td>
                        <td><a href="/job/{{line.jobid}}">view</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <h3>Empty</h3>
            {% endif %}
        </fieldset>

        <fieldset>
            <legend><h2>Completed Job History</h2></legend>

             {% if completedJobs %}
            <table>
                <th>Job Name</th>
                <th>Job Type</th>
                <th>Job City</th>
                <th>Job State</th>
                <th>Job Description</th>
                <th>Job Time</th>
                <th>Worker Name</th>
                <th>Job Amount</th>
                <th>View</th>
                {% for line in completedJobs %}
                   <tr>
                        <td>{{line.jobname}}</td>
                        <td>{{line.jobtype}}</td>
                        <td>{{line.jobcity}}</td>
                        <td>{{line.jobstate}}</td>
                        <td>{{line.jobdescription}}</td>
                        <td>{{line.jobtime}}</td>
                        <td><a href="/viewworker/{{line.acceptoremail}}">{{line.firstname}} {{line.lastname}}</a></td>
                        <td>{{line.amount}}</td>
                        <td><a href="/job/{{line.jobid}}">view</a></td>
                    </tr>
                {% endfor %}
            </table>
             {% else %}
            <h3>Empty</h3>
            {% endif %}
        </fieldset>
{% endblock %}
