{% extends "layout.html" %}
 
{% block content %} 
<fieldset>
    <legend><h1>What Is Odd Job</h1></legend>
    <p>Odd Job is .....</p>
</fieldset>

<fieldset>
    <legend><h1>....</h1></legend>
    <p>Odd Job  .....</p>
</fieldset>


<fieldset>
    <legend><h1>.....</h1></legend>
    <p>Odd Job is .....</p>
</fieldset>

<fieldset>
    <legend><h1>.....</h1></legend>
    <p>Odd Job is .....</p>
</fieldset>

<fieldset>
    <legend><h1>.....</h1></legend>
    <p>Odd Job is .....</p>
</fieldset>

<fieldset>
    <legend><h1>.....</h1></legend>
    <p>Odd Job is .....</p>
</fieldset>

<fieldset>
    <legend><h1>.....</h1></legend>
    <p>Odd Job is .....</p>
</fieldset>
{% endblock %}
            
