{% extends "layout.html" %}
 
{% block content %} 
<img style="width:100%" src="/static/banner.png" class="image" /> 
<fieldset style="background-color: #67c48a">
    <legend><h2 style= "text-align: center;font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 28px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 20px; color: black;">Services</h2></legend>
    <p style="text-align: center;font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26px; color: blue;";>House Keeping</p>
    <p style="text-align: center; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26px; color: green;">Landscaping</p>
    <p style="text-align: center;font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26px; color: brown;">Home Improvement</p>
    <p style="text-align: center; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26px; color: orange;">Baby Sitting</p>
    <p style="text-align: center;font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26px; color: purple;">Plumbing</p>
</fieldset>
</br>
<div style="width:100%;" align="center" class="banner">
	<img class="slides" src="/static/img1.jpg">
	<img class="slides" src="/static/img2.jpg">
	<img class="slides" src="/static/img3.jpg">
	<img class="slides" src="/static/img4.jpg">
	<img class="slides" src="/static/img5.jpg">
</div>
<script>
var myIndex=0;
carousel();

function carousel(){
	var i;
	var x = document.getElementsByClassName("slides");
	for(i = 0; i < x.length; i++){
		x[i].style.display = "none";
	}
	myIndex++;
	if(myIndex > x.length) {myIndex=1}
	x[myIndex-1].style.display = "block";
	setTimeout(carousel, 3000);
}
</script>

{% endblock %}
            
