
{% extends "layout.html" %}
 
{% block content %} 

<fieldset>
            <legend><h2 style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 20px; color: black;">Job Info:</h2></legend><font size="3" face="Helvetica Neue">

            <p>Job Name : {{ job.jobname }}</p>
            <p>Job Type : {{job.jobtype}}</p>
            {% if job.jobstatus != 'POSTED'%}
                {% if job.jobaddress %}
                <p>
                    Job Address : {{ job.jobaddress }}
                </p>
                {% elif session['account']['accounttype']=='CUSTOMER' %}
                    {% if validAddress %}
                        <form action="/confirmJobAddressAuth" method="POST">
                           <select name="alias" id="jobAddressList" style="width:85%;display:inline-block; float:left padding:0; margin:0"/>
                                {% for line in validAddress %}
                                <option value="{{line.address}}">{{line.address}} -- {{line.alias}}</option>
                                {% endfor %}
                                <input type="hidden" name="jobid" value="{{job.jobid}}" style="width:0%;display:inline-block; float:left padding:0;margin:0">
                                <button type="submit" style="width:10%;display:inline-block; float:right padding:0; margin:0">Confirm</button>
                            </form>
                    {% else %}
                        <p><b>Please Add a valie address in this City and State</b></p>
                    {% endif %}
                {% endif %}

            {% endif %}
            <p>Job City : {{job.jobcity}}</p>
            <p>Job State : {{job.jobstate}}</p>
            <p>Job Desccription : {{job.jobdescription}}</p>
            <p>Request Time : {{job.jobtime}}</p>
            <p>Status : {{job.jobstatus}}</p>
</fieldset>

{% if job.jobstatus != 'POSTED' %}
<fieldset>
    <legend><h2 style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 20px; color: black;">Transaction Info</h2></legend><font size="3" face="Helvetica Neue">
    <p>Worker Name: <a href="/viewworker/{{acc.acceptoremail}}">{{ acc.firstname }} {{ acc.lastname }}</a></p>
    <p>Amount: {{ acc.amount }} </p>
    <p>Note: {{ acc.note }} </p>

    {% if session['account']['accounttype']=='CUSTOMER' and job.jobstatus == 'CONFIRMED' %}
                            
    <form action="/payJobAuth" method="POST">
        <input type="hidden" name='jobId' value={{job.jobid}} />
        <input type="submit" value = Pay>
    </form>
    {% endif %}
</fieldset>
{% endif %}


{% if job.jobstatus=='POSTED' %}
<fieldset>
            {% if trans %}
            <table>
                <tr>
                <th>Acceptor Name</th>
                <th>Amount Offered</th>
                <th>Note</th>
                 <th>Time</th>
                <th>Agree to Offer The Job</th>
            </tr>

                {% for line in trans %}
                    <tr>
                         <td><a href="/viewworker/{{line.acceptoremail}}">{{line.firstname}} {{line.lastname}}</a></td>
                        <td>{{line.amount}}</td>
                        <td>{{line.note}}</td>
                        <td>{{line.transactiontime}}</td>
                         <td>
                        <form action="/confirmJobAuth" method="POST">
                            <input type="hidden" name='acceptorEmail' value={{line.acceptoremail}} display='none' />
                            <input type="hidden" name='jobId' value={{job.jobid}} display='none' />
                            <button type="submit">Offer</button> 
                        </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <h2 style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 20px; color: black;">No one has offer the job</h2>
            {% endif %}
        <form action="/cancelJobAuth" method="POST">
            <input type="hidden" name='jobid' value='{{job.jobid}}' />
             <button type="submit">Cancel This Job</button> 
        </form>
    </fieldset>

    {% else %}
    <fieldset>
        <legend>
            <h2 style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 20px; color: black;">Communication History</h2>
        </legend><font size="3" face="Helvetica Neue">

        {% if messages %}
            {% for line in messages %}
            <p><b>{{line.firstname}} {{line.lastname}}</b> says</p>
            <p>{{line.quote}} on {{line.messagetime}}</p>
            <hr>
            {% endfor %}
        {% else %}
            <h3>No Message History</h3>
            <hr>
        {% endif %}

        <form action="/addMessageAuth" method="POST">
            <input type="textarea" name = "quote" placeholder="Place Your Message" required/> </br>
            <input type="hidden" name='jobid' value='{{job.jobid}}' />
            <input type="hidden" name='email' value="{{ session['account']['email'] }}" />
            <input type="submit" value = Post />
        </form>

    </fieldset>

    {% if session['account']['accounttype']=='CUSTOMER' and job.jobstatus == 'CONFIRMED' %}
     <form action="/completeJobAuth" method="POST">
        <input type="hidden" name='jobId' value={{job.jobid}} />
        <input type="submit" value = Complete>
    </form>
    {% endif %}


    {% if job.jobstatus == 'COMPLETED' %}
    <fieldset>
        <legend><h2 style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 20px; color: black;">Rating</h2></legend><font size="3" face="Helvetica Neue">
        {% if rate and rate.rating %}
            <p>Rating: {{rate.rating}}</p>
            <p>Comment: {{rate.comment}}</p>
            <p>Time: {{rate.ratingtime}}</p>
        {% elif session['account']['accounttype']=='CUSTOMER' %}
        <legend>Rating</legend><font size="3" face="Helvetica Neue">
        <form action="/rateAuth" method="POST">
            <input type="hidden" name="jobId" value="{{job.jobid}}" display='none' />
            <select name ="rating" id = "ratingList">
               <option value = "1">1</option>
               <option value = "2">2</option>
               <option value = "3">3</option>
               <option value = "4">4</option>
               <option value = "5">5</option>
            </select>
            <input type="text" name = "comment" placeholder="Leave A Comment" required/> </br>
            <button type="submit">Rate</button>
        </form>
        </fieldset>
        {% endif %}
    {% endif %}



    {%endif%}

{% endblock %}
