<!DOCTYPE html>
<html>

<head>
     <link rel="stylesheet" href='/static/style.css' />
</head>

 <body>
        <a href="/"><h1>OddJob</h1></a>
        <fieldset>
            <legend>Account Info</legend>
            <p>email: {{session['account']['email']}}</p>
            <p>name: {{session['account']['firstname']}} {{session['account']['lastname']}}</p>
             <a href="/profile">Profile</a>
            <br>
            <a href="/homeworker">Home</a>
            <br>
            <a href="/logout">Logout</a>
            <br>
        </fieldset>

        <fieldset>
            <legend><h2>All Open Jobs</h2></legend>

            {% for line in jobs %}
            <fieldset>
                <legend><h2>{{line.jobname}}</h2></legend>
                <p>Job Type: {{line.jobtype}}</p>
                <p>job City: {{line.jobcity}}</p>
                <p>job State: {{line.jobstate}}</p>
                 <p>job Description: {{line.jobdescription}}</p>
                  <p>Requestor Name: {{line.firstname}} {{line.lastname}}</p>
                   <p>Request time: {{line.jobtime}}</p>

            
                        <form action="/acceptJobAuth" method="POST">
                            <input type="hidden" name='jobId' value={{line.jobid}} />
                            <input type="text" name = "jobAmount" placeholder="How Much Do You Want To Offer" required/> </br>
                            <button type="submit">Submit</button>
                        </form>

                </fieldset>
                {% endfor %}
        </fieldset>

</html>
