<!DOCTYPE html>
<html>

<head>
    {% if not session.get('account') and type =='CUSTOMER' %}
        <link rel="stylesheet" href='/static/customerStyle.css' />
    {% elif not session.get('account') and type =='WORKER' %}
        <link rel="stylesheet" href='/static/workerStyle.css' />
     {% elif session['account'] and session['account']['accounttype'] == 'CUSTOMER' %}
        <link rel="stylesheet" href='/static/customerStyle.css' />
    {% elif session['account'] and session['account']['accounttype'] == 'WORKER' %}
       <link rel="stylesheet" href='/static/workerStyle.css' />
    {% endif %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="/static/oddjob.png"/>
</head>

 <body>
        <div id="nav-wrap">
            <div class="nav">
                {% if not session.get('account') and type =='CUSTOMER' %}
                    <a href="/" ><i class="fas fa-home"></i>OddJob</a>
                {% elif not session.get('account') and type =='WORKER' %}
                    <a href="/worker" ><i class="fas fa-home"></i>OddJob</a>
                 {% elif session['account'] and session['account']['accounttype'] == 'CUSTOMER' %}
                    <a href="/" >OddJob<i class="fas fa-home"></i></a>
                {% elif session['account'] and session['account']['accounttype'] == 'WORKER' %}
                    <a href="/worker" ><i class="fas fa-home"></i>OddJob</a>
                {% endif %}
                <div class="nav-right">
                    {% if not session.get('account') and type =='CUSTOMER' %}
                        <a href="/login/CUSTOMER" >Login</a>
                        <a href="/register/CUSTOMER" >Register</a>
                        <a href="/worker" >Become A Worker</a>
                    {% elif not session.get('account') and type =='WORKER' %}
                        <a href="/login/WORKER" >Login</a>
                        <a href="/register/WORKER" >Register</a>
                        <a href="/" >I'm A Customer</a>
                     {% elif session['account'] and session['account']['accounttype'] == 'CUSTOMER' %}
                        <a href="/home" >My Jobs</a>
                        <a href="/jobpost" >Post A Job</a>
                        <a href="/profile" >Account</a>
                        <a href="/support" > Support </a>
                        <a href="/logout" >Logout</a>
                    {% elif session['account'] and session['account']['accounttype'] == 'WORKER' %}
                        <a href="/homeworker" >My Jobs</a>
                        <a href="/jobboard" >View Open Jobs</a>
                         <a href="/backgroundcheck" >My Skills</a>
                         <a href="/profile" >Account</a>
                         <a href="/support" > Support </a>
                        <a href="/logout" >Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="empty-wrap">
           &nbsp;&nbsp;&nbsp;
        </div>

        <div class="empty-wrap">
           &nbsp;&nbsp;&nbsp;
        </div>



        <div id="content-wrap">
            {% block content %}  {% endblock %}
        </div>

          <div id="footer-wrap">
            <div class="contact-info">
            <a href="https://www.facebook.com/OddJob-107009097435417/" title="Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/My_OddJob" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="mailto:oddjobsupport@gmail.com" title="Email"><i class="fas fa-envelope"></i></a>
            </div>
            <p>&copy 2019 OddJob</p>
        </div>
       
</html>
