

{% extends "layout.html" %}
 
{% block content %} 
        <fieldset>
            <legend><h2>Pay For Job</h2></legend>

            <table>
                <th>Job Name</th>
                <th>Job Type</th>
                <th>job City</th>
                <th>job State</th>
                <th>job Description</th>
                <th>Amount</th>
                <th>Worker Name</th>
                <tr>
                    <td>{{line.jobname}}</td>
                    <td>{{line.jobtype}}</td>
                    <td>{{line.jobcity}}</td>
                    <td>{{line.jobstate}}</td>
                    <td>{{line.jobdescription}}</td>
                    <td>{{line.amount}}</td>
                    <td>{{line.firstname}} {{line.lastname}}</td>
                </tr>
            </table>


            <form action="/payAuth" method="post">
              <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="{{ key }}"
                data-description="Job"
                data-amount="{{line.amount * 100}} "
                data-locale="auto">
              </script>
    </form>




        </fieldset>

       
        </fieldset>

{% endblock %}
