<!DOCTYPE html>
<html>
    <head>
        <title>OddJob | POST JOB</title>
        <link rel="stylesheet" href='/static/style.css' />
    </head>


   <body>
   		<a href="/"><h1>OddJob</h1></a>

   		{% if session['message'] %}
			<p><strong>{{session['message']}}</strong></p>
		{% endif %}

		<form action="/updateProfileAuth" method="POST">
			<p>Email: {{session['account']['email']}}</p>
			<p>Account Type: {{session['account']['accounttype']}}</p>
			First name: <input type="text" name="firstName" value="{{session['account']['firstname']}}"><br>
			Last name: <input type="text" name="lastName" value="{{session['account']['lastname']}}"><br>
			Motto: <input type="text" name="motto" value="{{session['account']['motto']}}"><br>			
			<button type="submit">Submit</button>
		</form>


</body>
</html>