

{% extends "layout.html" %}
 
{% block content %} 
<fieldset>
   			<legend><h2 style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 28px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 20px; color: grey;">{{type2}} Registration</h2></legend>
	   		{% if session['message'] %}
				<p><strong>{{session['message']}}</strong></p>
			{% endif %}

		<form action="/registerAuth" method="POST">
			First Name:
			<input type="text" name = "firstName" placeholder="First Name" required/> </br>
			Last Name:
			<input type="text" name = "lastName" placeholder="Last Name" required/> </br>
			Email:
			<input type="email" name = "email" placeholder="Email" required/> </br>
			Password:
			<input type="password" name = "password1" placeholder="Password" required/></br>
			Confirm Password:
			<input type="password" name = "password2" placeholder="Password" required/></br>
			<input type="hidden" name='accountType' value='{{type}}' />
			<button type="submit">Register</button>
		</form>

	</fieldset>
{% endblock %}