<html>
    <head>
         <link rel="stylesheet" href='/static/style.css' />
    </head>

	<body>
		<h2 style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 20px; color:; black;">Hi {{session['account']}}</h2> 
        <br>
		<a href="/logout">Logout</a>

        <div>
            <h2 style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 20px; color: black; text-align: center;"> Need Help? Contact Us Below:</h2>
        </div>
       
        <fieldset>
            <font size="3" face="Helvetica Neue">
            <h2>Send Us a Message!</h2>
            <form action="/addMessage" method="POST">
                Name:
                <input type="text" name = "name" placeholder="Name" required/> </br>
                Email: 
                <input type="email" name = "email" placeholder="Email" required/> </br>
                Message: 
                <input type="textarea" name = "message" placeholder="Enter your message." required/> </br>
                <input type="submit" value = Send />
            </form>
        </fieldset>





    </body>
</html>


{% extends "layout.html" %}
 
{% block content %} 
{% endblock %}