
{% extends "layout.html" %}
 
{% block content %} 

    <fieldset>
        <legend><h2>Send A Message</h2></legend>
        <form action="/sendMessageAuth" method="POST">
            
            Title:
            <input type="textarea" name = "title" placeholder="Title" required/> </br>
            Message:<br>
            <textarea rows="8" style="width:100%" name="message" placeholder="Let us know your questions">
            </textarea>
            <button type="submit">Send</form>
        </form>
    </fieldset>
{% endblock %}