
{% extends "layout.html" %}
 
{% block content %} 

    <fieldset>
        <legend><h2>Send A Message</h2></legend>
        <font size="3" face="Helvetica Neue">
        <form action="/sendMessageAuth" method="POST">
            Preferred Email
            <input type="text" name = "email" value="{{session['account']['email']}}" require readonly> </br>
            Title:
            <input type="textarea" name = "title" placeholder="Title" required/> </br>
            Message:<br>
            <textarea rows="8" style="width:100%" name="message" placeholder="Let us know your questions">
            </textarea>
            <button type="submit">Send</form>
        </form>
    </fieldset>


    {% if oldMessages %}
      {% for line in oldMessages %}
         <fieldset>
            <legend><h2>{{line.title}}</h2></legend>
            <p>Message: {{line.message}}</p>
            <p>Reply: {{line.reply}}</p>
            <p>Time: {{line.messagetime}}</p>
        </fieldset>
      {% endfor %}
    {% endif %}
{% endblock %}