

{% extends "layout.html" %}
{% block content %} 

    		<fieldset>
    			<legend><h2>Worker Profile</h2></legend>
			<p>Name: {{worker['firstname']}} {{worker['lastname']}}</p>
			<p>Motto: {{worker['motto']}}</p>
			<p>Job Performed: {{ total }}</p>
			<p>Average Rating: {{ rating }}</p>
		</fieldset>


		{% for line in trans %}
		<fieldset>
		<legend><h2>{{line.jobname}} ({{line.jobtype}})</h2></legend>
		<p>Job Detail: {{line.jobdescription}}</p>
		<p>Rating : {{line.rating}}</p> 
	    <p>Comment: {{line.comment}}</p>
		<p>Time: {{line.transactiontime}}</p>
		</fieldset>
		{% endfor %}
{% endblock %}